# Node.js dependencies
node_modules/
package-lock.json

# AWS Amplify and AWS SAM files
amplify/
amplify-backup/
.aws-sam/
aws-exports.js
amplifyconfiguration.json

# Environment files
.env

# Build files
build/
dist/

# IDE and editor settings
.vscode/
.DS_Store

# Test coverage and logs
coverage/
logs/
